alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"
alias c="clear"
alias md="mkdir -p"
alias rd="rmdir"
alias dfh="df -h"
alias duh="du -h --max-depth=1"
alias please="sudo"
alias fiwb='sudo $(fc -ln -1)'
alias which-command='whence -a'
alias aliasconfig="$EDITOR ~/.aliases"

###############
#     ZSH     #
###############
if [ -n "$ZSH_VERSION" ]; then
  alias reload="source ~/.zshrc"
  alias zshconfig="$EDITOR ~/.zshrc"
fi
